*{
    box-sizing: border-box;
    margin: 0;
}
@font-face {
    font-family: 'MyFont';
    src: url('./gang-of-three-cufonfonts/go3v2.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}

body{
    background-color: #0F1A24;
    margin: 0;
    color: #fff;
    font-family: monospace;
    font-size: large;
    overflow: hidden;
}
a{
    text-decoration: none;
    color:#fff;
   
}
.flex{
    display: flex;
    justify-content: space-between;
}
.main-container{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr repeat(10,1fr);
    grid-template-rows: repeat(5, 1fr);
    background-color: #0F1A24;
}
header{
    padding: 1em;
    grid-column: 3 / -1;
    border-bottom: 1.5px solid #233b53;
    border-left: 1.5px solid #233b53;
}
header > p{
    text-align: center;
}
.header-url{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.header-content{
    display: flex;
    justify-content: space-between;
}
.url-text,
.edit-btn{
    background-color: #172933;
    border: 1px solid #304F69;
    padding: .5em 2em;
}
.edit-btn{
    margin-left: 10px;
    background-color: #1C91F2;
}
.edit-btn:hover{
    background-color: #146eb7;
}
.profile-btn{
    background-color: #1C91F2;
    padding: .5rem .7rem;
    border: none;
}
.shadow{
    box-shadow: 2px 2px black;
}
.padding{
    padding: .5em;
}
.border{
    border-bottom: 1.5px solid #233b53;
}

.svg{
    width: 20px;
    height: 20px;
}

aside{
    height: 95vh;
    display: flex;
    flex-direction: column;
    grid-column: 1 / span 2;
    grid-row: 1 / 6;
}

aside > p{
    text-align: center;
    margin: 30px;
}

.sidebar-assets{
    display: flex;
    padding: .7em;
    margin-bottom: .5em;
    border-radius: 10px;
    align-items: center;
}

.sidebar-assets:hover{
    background-color: #1d3542;
    
}
.sidebar-color{
    background-color: #1d3542;
}
.sidebar-text{
    margin-left: 12px;
}

main{
    grid-column: 3 / -1;
    grid-row: 2 / 6;
    gap: 10px;
    padding: 1em 2em;
    border-left: 1.5px solid #233b53;
    overflow-y: auto; 
    height: 80vh;
}
main::-webkit-scrollbar {
    display: none; /* Hide the scrollbar track in WebKit browsers (Chrome, Safari) */
}

.grey{
    color: #8c97a0;
}
.todo-item-container{
    background-color: #172933;
    border: 1px solid #304F69;
    padding: 10px;
    margin-top: 10px;
    line-height: 1.5;
}

.edit-icon,
.delete-icon{
    background-color: #172933;
    border: 1px solid #304F69;
    padding: 2px;
}
.edit-icon:hover,
.delete-icon:hover{
    background-color: #1d3542;
}


dialog{
    position: fixed;
    margin: 0 auto;
    top: 3vh;
    background-color: #0F1A24;
    font-weight: bold;
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 1.5px solid #233b53;
    padding: 6em 5em;
}

.white{
    color: #fff;
}

form{
    text-align: center;
    color: #fff;
}
input{
    padding: 1rem 2rem;
    width: 80%;
    background-color: #172933;
    border: none;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #304F69;
    color: #8FB0CC;
    
}
#submit{
    background-color: #1C91F2;
    color: #fff;
    padding: 1em 0;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.submit{
    background-color: #1C91F2;
    color: #fff;
    padding: 1em 0;
    border: none;
    text-align: center;
    border-radius: 10px;
}
.close-btn,
.log-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
#submit:hover{
    background-color: #135e9b;
}
.profile-btn:hover{
    background-color: #135e9b;
}
.message{
    color: white;
    text-align: center;
    margin: 20px 0;
}

